
  <div class="transitions-enabled" id="dishs">
    <div class="col-md-3" "col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading dish_image">
          <%= image_tag dish.image.url(:medium) %>
        </div>
        <div class="panel-body">
          <h2 id="dish-name-panel">
            <%= dish.name %>
          </h2>
          <p class="description">
            <%= dish.description %>
          </p>
          <p class="yumyuck">
            <%= dish.yumyuck %>
          </p> 
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <p class="user"></p>

            </div>
            <div class="col-md-6">
<% if false %> <!--BEGIN ERB COMMENT OUT-->
<% end %> <!--END ERB COMMENT OUT-->
              <div class="btn-group pull-right"> 
                <% if user_signed_in? %>
                  <%= link_to "Edit",  class: "btn btn-default" %>
                  <%= link_to "Delete", method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>