<!-- <div class="row" id="pin_show">
    <div class="col-md-8" "col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            <%= image_tag dish.image.url(:medium) %>
          </p>
          <h1>
            <%= dish.name %>
          </h1>
          <p class="description">
            <%= dish.description %>
          </p>
          <p class="yumyuck">
            <%= dish.yumyuck %>
          </p> 
        </div>
        <div class="panel-footer">
          <div class="restaurant_menu"> 
          </div >
          <div class="row">
            <div class="col-md-6">

            <div class="col-md-6">
              <div class="btn-group pull-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

  <div class="row" id="dish_show">
    <div class="col-md-8" "col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading dish_image">
          <%= image_tag dish.image.url %>
        </div>
        <div class="panel-body">
          <h1>
            <%= dish.name %>
          </h1>
          <p class="description">
            <%= dish.description %>
          </p>
          <p></p>

        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-6">
              <p class="user"></p>

            </div>
            <div class="col-md-6">
              <% if false %>
              <div class="btn-group pull-right"> <!--BEGIN ERB COMMENT OUT-->
                <% if user_signed_in? %>
                  <%= link_to "Edit", edit_dish_path, class: "btn btn-default" %>
                  <%= link_to "Delete", dish_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
                <% end %> 
              </div> <!--END ERB COMMENT OUT-->
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>