<div class="restaurant_title_bar">
  <h3 id="my_restaurant">My Restaurants</h3>
</div>

<div class="container">
	<% @restaurants.each do |restaurant| %>
	  <div class="index_row clearfix">
	    <h2 class="restaurant_title"><%= link_to restaurant.name, restaurant %></h2>
	    <p id="restaurant_description"><%= restaurant.description %></p>
		  <div class="restaurant_menu">
		    <%= link_to "Dishes", restaurant %>  &nbsp;   | &nbsp;  
		    <%= link_to "New Dish", new_restaurant_dish_path(restaurant) %>  &nbsp;   | &nbsp; 
		    <%= link_to "Edit Restaurant", edit_restaurant_path(restaurant)%>  
		  </div >
	    <p id="menu_spacing"></p>
	    <p id="restaurant_address"><%= restaurant.address %></p>
	  </div>
	<% end %>
</div>



