
<h1>
	<%= @restaurant.name %>
	<p>
	<%= @restaurant.description %>
	</p>
	<p>
	<%= @restaurant.address %>
	</p>
</h1>
<%= link_to "Back", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path %>
<%= link_to "Delete", restaurant_path, method: :delete, data: {confirm: "Are you sure?"} %>

<br></br>

<%= link_to "Enter New Dish", new_restaurant_dish_path(@restaurant.id)%>

<br></br>

<div id="todo_items_wrapper">
	<%= render @restaurant.dishes %>  
	<!-- This grabs it from the _dish.html.erb -->
</div>
