	<div class="restaurant_title_bar">
  	<!-- <h3 id="my_restaurant">My Restaurants</h3> -->
	<h2 id="my_restaurant"><%= @restaurant.name %></h2>
	<h4><%= link_to "Enter New Dish", new_restaurant_dish_path(@restaurant.id)%></h4>
	<br>
	<p id="restaurant_page_back_button"><%= link_to "Back", restaurants_path%></p>
</div>

<!-- <div>
	<%= link_to "Back", restaurants_path %>
	<%= link_to "Edit", edit_restaurant_path %>
	<%= link_to "Delete", restaurant_path, method: :delete, data: {confirm: "Are you sure?"} %>
</div> -->

<br></br>
<br></br>

<div >
	<%= render @restaurant.dishes %>  <!-- This grabs it from the _dish.html.erb -->
</div>
